* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

header {
  text-align: center;
  padding: 20px;
  background-color: rgb(239, 239, 239);
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.sidebar, .tasks {
  padding: 20px;
}

.task-tile {
  display: flex;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

dialog {
  padding: 20px;
  border-radius: 3px;
  border: 1px solid;
}